@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');

/* body {
	background-color: #282828;
	color: #ebdbb2;
	font-family: "Noto Sans Mono", monospace;
	font-size: 14px;
}
.terminal {
	border: 1px solid #ebdbb2;
	padding: 10px;
	margin: 10px;
	overflow-y: scroll;
}
input {
	background-color: transparent;
	border: none;
	color: #ebdbb2;
	font-family: "Noto Sans Mono", monospace;
	font-size: 14px;
	width: 100%;
} */

body {
	background-color: #282828;
	color: #ebdbb2;
	font-family: "Fira Code", monospace;
	font-size: 15px;
}

.terminal {
	/* border: 1px solid #ebdbb2; */
	padding: 10px;
	margin: 10px;
	overflow-y: scroll;
}

#input-line {
	display: flex; /* Display label and input side by side */
}

#user-label {
	/* color: #83a598; */
	color: #d8a657;
	font-family: "Fira Code", monospace;
	font-size: 15px;
	padding-right: 5px; /* Add spacing between label and input */
}

input {
	background-color: transparent;
	border: none;
	color: #ebdbb2;
	font-family: "Fira Code", monospace;
	font-size: 15px;
	width: 100%;
	outline: none;
}

a {
	color: #ea6962;
	text-decoration: underline;
}

pre.asci {
	color: #d8a657;
}

.commands {
	color: #83a598;
}
